
  <main>
    <h3>Welcome! This app is designed to produce photos either randomly or based on specific input.</h3>
    <div >   
    <div class="img-container">
      <img src="https://source.unsplash.com/random?/photographer"  alt="Random Photo" style="width: 100%; height: 100%; object-fit: cover; border-radius: 5px;">
      </div>
    </div> 
    <p>Click the button below to generate a random photo:</p>
    <a href="/random_photo" class="btn2">Click Me</a>
  </main>

  <footer>
    <p>@Gomezzzer</p>
  </footer>
