<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Photo Generator</title>
  <!-- Assuming you have a styles.css file in the public folder -->
   <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }

    header {
      background-color: #fff;
      color: #999;
      text-align: center;
      padding: 1em;
     
    }

    main {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #6488ea;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }

    footer {
      text-align: center;
      margin-top: 20px;
      padding: 10px;
      background-color: #fff;
      color: #999;
    }
  </style>
</head>
<body>

  <header>
    <h1>Random Snap</h1>
  </header>

  <main>
    <h3>Welcome! This app is designed to produce photos either randomly or based on specific criteria.</h3>
    <p>Click the button below to generate a random photo:</p>
    <a href="/random_photo" class="btn">Generate Random Photo</a>
  </main>

  <footer>
    <p>Powered by Ruby Sinatra</p>
  </footer>

</body>
</html>
