body {
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

.link {
  font-size: 2rem;
  text-decoration: none;
  color: #999;
  margin-left: 13rem; 
  -webkit-tap-highlight-color: transparent;
}

header {
  background-color: #fff; 
  color: #999;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; display: grid; grid-template-columns: repeat(1, 1fr); gap: 20px;
}

img {
  max-width: 80%; /* Adjust the percentage as needed */
  height: auto;
  border-radius: 10px;
  margin: 10px 0; /* Add some margin for spacing */
}

.img-container {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 350px; 
  border-radius: 5px; 
  overflow: hidden;
}

.btn {
  display: inline-block;
  width: 25%;
  padding: 10px 20px;
  background-color: #6488ea;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 17rem;
}

.btn1 {
  display: inline-block;
  width: 25%;
  padding: 10px 20px;
  background-color: #6488ea;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 1rem;
}

.btn2 {
  display: inline-block;
  width: 30%;
  padding: 10px 20px;
  background-color: #6488ea;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 17rem;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  color: #999;
}


@media screen and (max-width: 420px) {
 .btn {
   margin-left: 6.5rem;
 } 
 .btn1 {
   margin-left: 7rem;
   width: 29%;
 }

 .btn2 {
  margin-left: 6.5rem;
 }
}
